@using BMECars.Dal.Managers
@inject ILocationManager _locationManager
@inject ICarManager _carManager
@{
    ViewData["Countries"] = _locationManager.GetAvailableCountries();
    ViewData["CarBrands"] = _carManager.GetAvailableCarBrands();
}

<input hidden id="countrySelected" value="@Model.CountryPickUp" />
<input hidden id="citySelected" value="@Model.CityPickUp" />
<input hidden id="locationSelected" value="@Model.LocationPickUp" />
<input hidden id="dropDownCountrySelected" value="@Model.CountryDropDown" />
<input hidden id="dropDownCitySelected" value="@Model.CityDropDown" />
<input hidden id="dropDownLocationSelected" value="@Model.LocationDropDown" />

<form method="get" action="/cars/search" style="position: relative; padding: 50px 0px;">
    <div class="row">
        <div class="col-md form-group">
            <label for="country">Country</label>
            <select name="CountryPickUp" required class="form-control" id="Country" onchange="onPickUpCountrySelect(this);">
                <option value="" selected disabled="disabled">Choose Country</option>
                @foreach (string c in (List<String>)ViewData["Countries"])
                {
                    <option value="@c">@c</option>
                }
            </select>
        </div>
        <div class="col-md form-group">
            <label for="city">City</label>
            <select disabled name="CityPickUp" required class="form-control" id="City" onchange="onPickUpCitySelect(this);">
                <option selected disabled="disabled">Choose City</option>
            </select>
        </div>
        <div class="col-md form-group">
            <label for="location">Location</label>
            <select disabled name="LocationPickUp" class="form-control" id="Location">
                <option selected disabled="disabled">Choose Location</option>
            </select>
        </div>
        <div class="col-md form-group">
            <label for="reservefrom">Pick Up</label>
            @if (Model.ReserveFrom == new DateTime())
            {
                <input name="ReserveFrom" required type="date" class="form-control" id="reservefrom">
            }
            else
            {
                <input name="ReserveFrom" required type="date" class="form-control" id="reservefrom"
                       value="@Model.ReserveFrom.ToString("yyyy-MM-dd")">
            }

        </div>
        <div class="col-md form-group">
            <label for="reserveto">Drop Down</label>
            @if (Model.ReserveTo == new DateTime())
            {
                <input name="ReserveTo" required type="date" class="form-control" id="reserveto">
            }
            else
            {
                <input name="ReserveTo" required type="date" class="form-control" id="reserveto"
                       value="@Model.ReserveTo.ToString("yyyy-MM-dd")">
            }

        </div>

    </div>



    <div style="position: relative;">

        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Drop off at different location
        </a>
        <a style="position: absolute; right: 0;" class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
            Detailed Search
        </a>
    </div>



    <div class="collapse" id="collapseExample">
        <div class="row">
            <div class="col-sm-4 col-md form-group">
                <label for="dropcountry">Country</label>
                <select name="CountryDropDown" class="form-control" id="CountryDropDown" onchange="onDropDownCountrySelect(this);">
                    <option value="" selected disabled="disabled">Choose Country</option>
                    @foreach (string c in (List<String>)ViewData["Countries"])
                    {
                        <option value="@c">@c</option>
                    }
                </select>
            </div>
            <div class="col-sm-4 col-md form-group">
                <label for="dropcity">City</label>
                <select disabled name="CityDropDown" class="form-control" id="CityDropDown" onchange="onDropDownCitySelect(this);">
                    <option selected disabled="disabled">Choose City</option>
                </select>
            </div>
            <div class="col-sm-4 col-md form-group">
                <label for="droplocation">Location</label>
                <select disabled name="LocationDropDown" class="form-control" id="LocationDropDown">
                    <option selected disabled="disabled">Choose Location</option>
                </select>
            </div>
            <div class="col-sm-4 col-md">
                <!--col placeholder-->
            </div>
            <div class="col-sm-4 col-md">
                <!--col placeholder-->
            </div>

        </div>
    </div>


    <div class="collapse" id="collapseExample2">
        <div class="row">
            <div class="col form-group">
                <label for="brand">Brand</label>
                <select name="brand" class="form-control" id="brand">
                    <option value="" selected>Choose Brand</option>
                    @foreach (string c in (List<String>)ViewData["CarBrands"])
                    {
                        if (c == Model.Brand)
                        {
                            <option selected value="@c">@c</option>
                        }
                        else
                        {
                            <option value="@c">@c</option>
                        }
                    }
                </select>
            </div>

            <div class="col form-group">
                <label for="year">Year</label>
                <input name="year" value="@(Model.Year != 0 ? @Model.Year : "")" type="number" min="1990" max="2019" class="form-control" id="year" placeholder="Enter year">
            </div>

            <div class="col form-group">
                <label for="seat">Seat</label>
                <input name="seat" value="@(Model.Seat != 0 ? @Model.Seat : "")" type="number" min="1" class="form-control" id="seat" placeholder="Enter seats">
            </div>

            <div class="col form-group">
                <label for="bag">Bags</label>
                <input name="bag" value="@(Model.Bag != 0 ? @Model.Bag : "")" type="number" min="1" class="form-control" id="bag" placeholder="Enter bags">
            </div>

            <div class="col form-group">
                <label for="isfuelfull">Gas</label>
                <select name="isFuelFull" class="form-control" id="isfuelfull">
                    <option value="" selected>All</option>
                    <option value="true">Full</option>
                    <option value="false">Empty</option>
                </select>
            </div>

            <div class="w-100"></div>

            <div class="col form-group">
                <label for="dealer">Dealer</label>
                <input name="dealershipname" value="@(Model.DealerShipName != 0 ? @Model.DealerShipName : "")" type="text" class="form-control" id="dealer" placeholder="Enter dealer">
            </div>
            <div class="col form-group">
                <label for="category">Category</label>
                <select name="category" class="form-control" id="category">
                    <option value="">All</option>
                    <option value="Hatchback">Hatchback</option>
                    <option value="Sedan">Sedan</option>
                    <option value="MPV">MPV</option>
                    <option value="SUV">SUV</option>
                    <option value="Crossover">Crossover</option>
                    <option value="Coupe">Coupe</option>
                    <option value="Convertible">Convertible</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="transmission">Transmission</label>
                <select name="transmission" class="form-control" id="transmission">
                    <option value="">All</option>
                    <option value="Automatic">Automatic</option>
                    <option value="Manual">Manual</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="climate">Climate</label>
                <select name="climate" class="form-control" id="climate">
                    <option value="">All</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div name="door" class="col form-group">
                <label for="door">Door</label>
                <input name="door" value="@(Model.Door != 0 ? @Model.Door: "")" type="number" min="2" class="form-control" id="door" placeholder="Enter doors">
            </div>
        </div>
    </div>

    <div style="position: relative;">
        <input type="submit" value="Submit" class="btn btn-danger float-right" id="submitbtn">
        <div class="clearfix"></div>
    </div>
</form>