@page "{id:int?}"
@model BMECars.Web.Pages.Companies.PendingReservationsModel
@{
    ViewData["Title"] = "PendingReservations";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="py-4">Pending Reservations</h2>



<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Car Plate</th>
                <th scope="col">Last reservation end</th>
                <th scope="col">Reservation start</th>
                <th scope="col">Reservation end</th>
                <th scope="col">Next reservation start</th>

                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.PendingReservations)
            {
            <tr>
                <td>
                    @reservation.CarPlate
                </td>
                <td>
                    @if (reservation.PreviousReservationEnd != null && reservation.PreviousReservationEndDate != null)
                    {
                        <p>@reservation.PreviousReservationEndDate.ToString("yyyy-MM-dd")</p>
                        <p>@reservation.PreviousReservationEnd.Country, @reservation.PreviousReservationEnd.City, @reservation.PreviousReservationEnd.Address</p>
                    }
                    else
                    {
                        <p>-</p>
                    }
                </td>
                <td>
                    <p>@reservation.ReserveFrom.ToString("yyyy-MM-dd")</p>
                    <p>@reservation.PickUpLocation.Country, @reservation.PickUpLocation.City, @reservation.PickUpLocation.Address</p>
                </td>
                <td>
                    <p>@reservation.ReserveTo.ToString("yyyy-MM-dd")</p>
                    <p>@reservation.DropDownLocation.Country, @reservation.DropDownLocation.City, @reservation.DropDownLocation.Address</p>
                </td>
                <td>
                    @if (reservation.NextReservationStart != null && reservation.NextReservationStartDate != null)
                    {
                        <p>@reservation.NextReservationStartDate.ToString("yyyy-MM-dd")</p>
                        <p>@reservation.NextReservationStart.Country, @reservation.NextReservationStart.City, @reservation.NextReservationStart.Address</p>
                    }
                    else
                    {
                        <p>-</p>
                    }
                </td>
                <td><a href="/reservations/ApproveReservation/@reservation.Id?approve=true">Accept</a></td>
                <td><a href="/reservations/ApproveReservation/@reservation.Id?approve=false">Decline</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
