@page "{id:int?}"
@model BMECars.Web.Pages.Cars.ReservationModel
@{
    ViewData["Title"] = "Reservation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="py-3">Reservation</h2>

<div class="row">
    <div class="col-md-3">
        <div>
            <p><b>Pick-up Location</b></p>
            <p>@Model.PickUpLocation.Country, @Model.PickUpLocation.City, @Model.PickUpLocation.Address</p>
            <p><b>Drop-down Location</b></p>
            <p>@Model.DropDownLocation.Country, @Model.DropDownLocation.City, @Model.DropDownLocation.Address</p>
            <p><b>Date of Pick-up</b></p>
            <p>@Model.ReserveFrom.ToString("yyyy-MM-dd")</p>
            <p><b>Date of Release</b></p>
            <p>@Model.ReserveTo.ToString("yyyy-MM-dd")</p>
        </div>
    </div>
    <div class="col-md-5">
        <p>
            <b>Brand</b>
            <span class="float-right">@Model.Car.Brand</span>
        </p>
        <p>
            <b>Year</b>
            <span class="float-right">@Model.Car.Year</span>
        </p>
        <p>
            <b>Category</b>
            <span class="float-right">@Model.Car.Category</span>
        </p>
        <p>
            <b>Seat</b>
            <span class="float-right">@Model.Car.Seat</span>
        </p>
        <p>
            <b>Bag</b>
            <span class="float-right">@Model.Car.Bag</span>
        </p>
        <p>
            <b>Transmission</b>
            <span class="float-right">@Model.Car.Transmission</span>
        </p>
        <p>
            <b>Price</b>
            <span class="float-right">@Model.Car.Price</span>
        </p>
        <p>
            <b>Gas</b>
            <span class="float-right">@(Model.Car.IsFuelFull ? "Full" : "Empty")</span>
        </p>
        <p>
            <b>Door</b>
            <span class="float-right">@Model.Car.Door</span>
        </p>
        <p>
            <b>Climate</b>
            <span class="float-right">@(Model.Car.Climate ? "Equipped" : "Not Equipped")</span>
        </p>
        <p>
            <b>Company</b>
            <span class="float-right">@Model.Car.DealerShipName</span>
        </p>
    </div>
    <div class="col-md-4">
        <img style="width: 100%; height: auto;" src="@Model.Car.Image" alt="Alternate Text" />

    </div>
</div>
<a href="/cars/payment/@Model.Car.Id?PickUpLocationId=@Model.PickUpLocation.Id&DropDownLocationId=@Model.DropDownLocation.Id&ReserveFrom=@Model.ReserveFrom&ReserveTo=@Model.ReserveTo"
   class="btn btn-success float-right">Payment</a>
<div class="clearfix"></div>


