@page
@model SearchModel
@{
}


<partial name="_SearchForm" model="@Model.SearchCar" />

<div style="margin: 0 auto;">
    @foreach (var car in Model.Cars)
    {
        <div class="my-3" style="height: 250px; border: 1px solid #ddd;">
            <div style="height: 80%;">
                <div class="row" style="height: 100%; margin: 0;">
                    <div class="col-4" style="overflow: hidden; position: relative; height: 100%; padding: 0;">
                        <img style="position: absolute; left: 50%; transform: translateX(-50%); height: 100%; width: auto;" src="@car.Image" alt="Image of car" />
                    </div>
                    <div class="col-8" style="position: relative; padding: 20px;">
                        <h3 style="display: inline-block; padding: 0; margin: 0;">@car.Brand</h3>
                        <div style="display: inline-block; float: right;">
                            <span>The price for 1 day:</span>
                            <p style="font-size: 20px; text-align: right;">
                                <b>@car.Price €</b>
                            </p>
                        </div>
                        <div class="row" style="width: 50%;">
                            <div class="col-6">
                                <span>@car.Category</span>
                            </div>
                            <div class="col-6">
                                <span>@car.Seat seat</span>
                            </div>
                            <div class="col-6">
                                <span>@car.Bag bag</span>
                            </div>
                            <div class="col-6">
                                <span>@car.Door door</span>
                            </div>
                            <div class="col-6">
                                <span>@car.Year</span>
                            </div>
                            <div class="col-6">
                                <span>@car.Transmission transmission</span>
                            </div>
                            <div class="col-6">
                                @if (car.IsFuelFull)
                                {
                                    <span>Tank full</span>
                                }
                                else
                                {
                                    <span>Tank empty</span>
                                }
                            </div>
                            <div class="col-6">
                                @if (car.Climate)
                                {
                                    <span>Has climate</span>
                                }
                                else
                                {
                                    <span>No Climate</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 20%; position: relative; background: #fafafa;">
                <p style="font-size: 20px; position: absolute; top: 50%; left: 10px; transform: translateY(-50%);">
                    <i>@car.DealerShipName</i>
                </p>
                <a href="/cars/reservation/@car.Id?pickUp=@Model.PickUpLocation.Id&dropDown=@Model.DropDownLocation.Id&reserveFrom=@Model.SearchCar.ReserveFrom&reserveTo=@Model.SearchCar.ReserveTo"
                   class="btn btn-success" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">Reserve</a>
            </div>
        </div>
    }
</div>