@page
@model BMECars.Web.Pages.CarsModel
@{
    ViewData["Title"] = "Cars";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div style="position:relative;" class="my-2">
    <h2>@(Model.Company.Name)</h2>
    <a style="position: absolute; top: 0; right: 0;" class="btn btn-success" href="#">Add Car</a>
</div>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Plate</th>
                <th scope="col">Return(time + location)</th>
                <th scope="col">Now at</th>
                <th scope="col">Next reservation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model.Cars)
            {
                <tr>
                    <td>
                        <a href="#">
                            <img style="height: 20px; width: 20px;" src="~/images/svg/si-glyph-pencil.svg" />
                        </a>
                        <a href="#">
                            <img style="height: 20px; width: 20px;" src="~/images/svg/si-glyph-trash.svg" />
                        </a>
                        <a onclick="setCalendarDates(@car.Id)" href="#" data-toggle="modal" data-target="#calendarModal">
                            <img style="height: 20px; width: 20px;" src="/images/svg/si-glyph-calendar-3.svg" />
                        </a>
                    </td>
                    <th scope="row">
                        <a href="#">@car.Plate</a>
                    </th>
                    <td>
                        @if (Model.ReservationInfo[car.Id].AtClient)
                        {
                            <p>@Model.ReservationInfo[car.Id].CurrentReservationReturnDate</p>
                            <p>@Model.ReservationInfo[car.Id].CurrentReservationReturnLocation.Address (@Model.ReservationInfo[car.Id].CurrentReservationReturnLocation.Country, @Model.ReservationInfo[car.Id].CurrentReservationReturnLocation.City)</p>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                    <td>
                        @if (Model.ReservationInfo[car.Id].AtClient)
                        {
                            <p><a href="#">@Model.ReservationInfo[car.Id].ClientEmail</a></p>
                        }
                        else
                        {
                            @if (Model.ReservationInfo[car.Id].NowAt != null)
                            {
                                <p>@Model.ReservationInfo[car.Id].NowAt.Address (@Model.ReservationInfo[car.Id].NowAt.Country, @Model.ReservationInfo[car.Id].NowAt.City)</p>
                            }
                        }
                    </td>
                    <td>
                        @if (@Model.ReservationInfo[car.Id].NextReservationPickUpLocation != null)
                        {
                            <p>@Model.ReservationInfo[car.Id].NextReservationStartDate</p>
                            <p>@Model.ReservationInfo[car.Id].NextReservationPickUpLocation.Address (@Model.ReservationInfo[car.Id].NextReservationPickUpLocation.Country, @Model.ReservationInfo[car.Id].NextReservationPickUpLocation.City)</p>
                        }
                        else
                        {
                            <span>-</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">
    Launch demo modal
</button>


<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">            
            <div class="modal-body" stlye="position: relative;">
                <div id="calendarHolder">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


